/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
nextflow.enable.moduleBinaries = true

params {  

        // Pipeline parameters
    project_name          = "project"
    input_seurat          = "${baseDir}/data/project_main_postRPCA_withBEFORE.RDS"
    outdir             = "${launchDir}/results"
    workDir = "${baseDir}/work"


    ct_species = "human"
    seed = 1234
    // outdir = "trajectory_nonmalignant"


    // Notebooks
    input_seurat_object      = null
    notebook_celltraj       = "${baseDir}/modules/local/cell_trajectory/CellTrajectory.qmd"

    // Optional template/config (if you use them)
    template                 = "${baseDir}/assets/template/*"
    page_config              = "${baseDir}/assets/template/_quarto.yml"

    // Integration controls
    ct_species               = "human"

    // Compute knobs
    n_threads                = 20
    n_memory                 = '650.GB'
    max_time                 = '240.h'

    // Behavior
    auto_save                = true
    seed                     = 1234

    // Dataflow parameters
    skip_celltraj         = false


    // // Max resource options
    max_cpus              = 10
    max_memory            = '100.GB'
    max_time              = '240.h'

}


def getContainerOptions (executor) {
    if (executor == 'docker') {
        return '-u root:root -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    } else if (executor == 'singularity') {
        return '--env USERID=$UID --env XDG_CACHE_HOME=tmp/quarto_cache_home --env XDG_DATA_HOME=tmp/quarto_data_home --env QUARTO_PRINT_STACK=true'
    } else {
        return ''
    }
}

process {
    containerOptions = { getContainerOptions(workflow.containerEngine) }
    stageInMode = 'copy'
}


// Load nf-core custom profiles from different Institutions
profiles {
    docker {
        docker.enabled         = true
        docker.fixOwnership    = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mskcc_iris {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'slurm'
            queue = 'componc_cpu,componc_gpu'
        }
        executor {
            name = 'slurm'
            queueSize = 25
        }
    }
    
    test      { includeConfig 'conf/test.config' }
    seadragon { includeConfig 'conf/institution.config' }

}

// Load nf-core custom profiles from different Institutions
profiles {
   test { includeConfig 'conf/test.config' }
}

// Load modules.config for DSL2 module specific options
// includeConfig 'conf/modules.config'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}